Flask
opencv-python
opencv-contrib-python
scikit-learn
pyfirmata
face_recognition
matplotlib
scipy
dlib
numpy
imutils
requests
pandas
playsound
wheel
pyttsx3
gTTS
sklearn
streamlit
streamlit_autorefresh
datetime
time